<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button slot="start"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-item>
                <ion-avatar>
                    <ion-img [src]="user.imageURL"></ion-img>
                </ion-avatar>
                <ion-text class="ion-margin-start">{{user.firstName}}</ion-text>
            </ion-item>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="!isLoading">
        <ion-row>
            <ion-col>
                <ion-virtual-scroll [items]="users | async">
                    <div *virtualItem="let user">
                        <ion-item (click)="redirectToSession(user.id)" class="ion-activatable">
                            <ion-ripple-effect></ion-ripple-effect>
                            <ion-avatar slot="start">
                                <ion-img [src]="user.imageURL"></ion-img>
                            </ion-avatar>
                            <ion-label>{{user.firstName}}</ion-label>
                        </ion-item>
                    </div>
                </ion-virtual-scroll>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
